@font-face {
  font-family: 'SN Pro';
  src: url(./SNPro/SNPro-Regular.woff2) format('woff2-variations');
  font-weight: 200 900;
  font-style: oblique 0deg 14deg;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'SN Pro', sans-serif;
}